@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  background-color: rgb(249, 233, 212);
  font-family: 'SUITE-Regular';
}

.log {
  text-align: left;
  font-size: medium;
  border-bottom: 1px solid black;
}

.headline {
  text-align: center;
  font-size: 3em;
}

.information {
  display: inline;

}

.inport {
  color: green;
  font-size: 15px;
  position: absolute;
  top: 14.5em;
  right: 1.5em;
}

input {
  width: 15em;
  height: 2.5em;
}

body {
  display: flex;
  justify-content: center;
}

.visitor_box {
  border: 1px solid;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}