@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  background-color: rgb(249, 233, 212);
  font-family: 'SUITE-Regular';
}

body {
  height: 100vh;
  box-sizing: border-box;
}

.log {
  text-align: left;
  font-size: medium;
  border-bottom: 1px solid black;
}

.headline {
  text-align: center;
  font-size: 3em;
}

.information {
  display: flex;
  flex-flow: row nowrap;
  font-size: 25px;
}

.inport {
  color: green;
  font-size: 15px;
  position: absolute;
  top: 14.5em;
  right: 1.5em;
}

.mainBox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.visitor_box {
  border: 2px rgb(93, 194, 84) solid;
  width: 70vh;
  height: 50vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 20px;
}

input {
  display: block;
}
